﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ReportDisplay.aspx.cs" Inherits="ReportDisplay" %>
<%@ Register Assembly="CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" 
            AutoDataBind="True" GroupTreeImagesFolderUrl="" Height="1157px" 
            ReportSourceID="CrystalReportSource1" ToolbarImagesFolderUrl="" 
            ToolPanelWidth="200px" Width="1059px" />
       
       
       
     <%--   <CR:CrystalReportSource ID="CrystalReportSource1" runat="server">
            <Report FileName="E:\Nithya\SPAYweb\crystal\DayWise1.rpt">
            </Report>
        </CR:CrystalReportSource>
       --%>
        <asp:GridView ID="GVBankSalary" runat="server">
           <%-- <Columns>
                <asp:TemplateField>
                    <HeaderTemplate>S.No</HeaderTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lbldept" runat="server" Text='<%# Eval("S_No") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                 <asp:TemplateField>
                    <HeaderTemplate>Code</HeaderTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lbldept" runat="server" Text='<%# Eval("Code") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                 <asp:TemplateField>
                    <HeaderTemplate>Employee Name</HeaderTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lbldept" runat="server" Text='<%# Eval("EmpName") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                 <asp:TemplateField Colo>
                    <HeaderTemplate>A/C NO</HeaderTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lbldept" runat="server" Text='<%# Eval("ACNO") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                 <asp:TemplateField>
                    <HeaderTemplate>Amount</HeaderTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lbldept" runat="server" Text='<%# Eval("Amount") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>

            </Columns>--%>
        </asp:GridView>
    </div>
    </form>
</body>
</html>
