﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RptForm15_CLWages.aspx.cs" Inherits="RptFrom15_CLWages" %>
<%@ Register Assembly="CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" 
            AutoDataBind="True" GroupTreeImagesFolderUrl="" Height="1157px" 
            ReportSourceID="CrystalReportSource1" ToolbarImagesFolderUrl="" 
            ToolPanelWidth="200px" Width="1059px" />
       
       
       
     <%--   <CR:CrystalReportSource ID="CrystalReportSource1" runat="server">
            <Report FileName="E:\Nithya\SPAYweb\crystal\DayWise1.rpt">
            </Report>
        </CR:CrystalReportSource>
       --%>
    </div>
    </form>
</body>
</html>
